<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adress Search</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/2439de631a.js" crossorigin="anonymous"></script>

    @RenderSection("style", required: false)
</head>
<body>
    <main>
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    @RenderSection("scripts", required: false)
</body>
</html>
